<a href="https://colab.research.google.com/github/Jaira21/OOP-58002/blob/main/FUNDAMENTALS_OF_PYTHON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Variables

In [2]:
x = float(1) 
a, b = 0, -1
a, b, c = "Hatchi", "Ken", "Satchi"

print('This a sample')
print(a)
print(c)

This a sample
Hatchi
Satchi

Casting

In [4]:
print (x)

1.0

Type() Function

In [5]:
y = "Carbonara"

print(type(y))
print(type(x))

<class 'str'>
<class 'float'>

Double quotes and Single quotes

In [7]:
h= "Caldereta"
v= 1
V= 2

print(h)
print(v)
print(v+1)

Caldereta
1
2

Multiple Variables

In [8]:
x,y,z="one", "two", "three"
print(x)
print(y)
print(z)
print(x,y,z)

one
two
three
one two three

One Value to Multiple Variables

In [9]:
x = y = z ="Ken"
print(x,y,z)

Ken Ken Ken

Output Variables

In [10]:
x= "drinking"

print("I am " + x)

x = "zest-o"
y = "apple"

print(x+""+" "+y)

I am drinking
zest-o apple

Arithmetic Operations

In [11]:
f = 3
g = 6
i = 9

print(f+g)
print(f-g)
print(f*i)
print(int(i/g))
print(3/g)
print(3%g)
print(3//g)
print(3**6)

9
-3
27
1
0.5
3
0
729

Assignment Operators

In [12]:
k = 2
l=3
k+=3 #same as k=k+3

print(k)

print(l>>1)

5
1

Boolean Operators

In [13]:
k=4
l=3
print(k>>2)#shift right twice 
print(k<<2)#shift left twice

1
16

Relational Operators

In [14]:
print(v>k) #v=1, k=2

print(v==k)

False
False

Logical Operators

In [15]:
print(v<k and k==k)
print(v<k or k==v)
print(not (v<k or k==v))

True
True
False

Identity Operators

In [16]:
print(v is k)
print(v is not k)

False
True